[Unit]
Description=RPI CORS Proxy
After=network.target

[Service]
Type=simple
User=vynx
WorkingDirectory=/home/vynx/rpi-proxy
Environment=API_KEY=CHANGE_THIS_TO_YOUR_KEY
Environment=PORT=3001
ExecStart=/home/vynx/.nvm/versions/node/v20.15.0/bin/node dist/index.js
KillMode=mixed
KillSignal=SIGTERM
TimeoutStopSec=10
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
